<html>
    <head>
        <title>Gerador de Assinaturas</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:200,400,700&display=swap" rel="stylesheet">
        <link href="style.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="js/jquery.mask.js"></script>
        <script src="js/html2canvas.js"></script>
    </head>

    <body>
        <div ng-app="" class="container">
            <div class="box">
                <h1>Gerador de Assinatura</h1>
                <div class="input-section">
                    <label>Nome</label>
                    <input placeholder="Seu nome" type="text" ng-model="nome" maxlength="18">
                </div>
                <div class="input-section">
                    <label>Setor</label>
                    <select required ng-model="telefonesetor">
                        <option value="" disabled hidden>Selecione seu setor</option>
                        <option value="(XX) XXXX-XXX1">Setor 1</option>
                        <option value="(XX) XXXX-XXX2">Setor 2</option>
                        <option value="(XX) XXXX-XXX3">Setor 3</option>
                    </select>
                </div>
                <div class="input-section">
                    <label>Cargo</label>
                    <input type="text" placeholder="Seu cargo" ng-model="cargo" maxlength="32">
                </div>
                <div class="input-section">
                    <label>Email</label>
                    <input type="text" placeholder="Seu e-mail" ng-model="email" maxlength="32">
                </div>
                <div class="input-section">
                    <label>Fone</label>
                    <input type="text" placeholder="Seu telefone" ng-model="telefone" data-mask="(00) 0 0000 0000" id="telefone" data-mask-selectonfocus="true">
                </div>
                <input class="button" id="btn-Preview-Image" type="button" value="Gerar Assinatura"/>
            </div>
            <div id="html-content-holder">
                <div id="download">
                    <span class="nome">{{nome}}</span>
                    <span class="cargo">{{cargo}}</span>
                    <span class="email">{{email}}</span>
                    <span class="telefone">{{telefone}}</span>
                    <span class="telefonesetor">{{telefonesetor}}</span>
                </div>
            </div>
            <div id="previewImage">
            </div>
        </div>

        <script>
            $(document).ready(function(){

            var element = $("#html-content-holder"); // global variable
            var getCanvas; // global variable
            
            $("#btn-Preview-Image").on('click', function () {
                html2canvas(element, {
                onrendered: function (canvas) {
                        $("#previewImage").append(canvas);
                        getCanvas = canvas;
                    }
                });
            });

            });
                $(document).ready(function(){
                $('#telefone').mask('(00) 0 0000 0000');
            });
        </script>
    </body>
</html>